@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
html {
    background-color : #f28e1c;
    box-sizing: border-box;
    border-style: dashed;
    margin: auto;
  
}

h1#title {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h2#welcome_message {
    text-align: center;
    color: white;
    font-style: italic;
}

form#search_form {
    text-align: center;
}

input#address_input {
    width: 50%;
}

div#breweries_details {
    text-align: center;
    color: white;
}

div#breweries_details h3 {
    text-decoration: underline;
}

li {
    list-style: none;
    transition: all .2s ease-in-out;
    
}

li:hover {
    transform: scale(1.1); 
}
    




img#beer_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: auto;
    
}

h3#brewery_click_heading {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.progress-2 {
    width:120px;
    height:20px;
    border-radius: 20px;
    background:
     linear-gradient(orange 0 0) 0/0% no-repeat
     lightblue;
    animation:p2 2s infinite steps(10);
    margin:auto;
    margin-top: 20px;
    
    

    
    
  }
  @keyframes p2 {
      100% {background-size:110%}
  }

  .hide-progress-2 {
    display: none;
  }

div#brewery_click {
    text-align: center;
    color: white;
}

