html {
    background-color : #f28e1c;
    box-sizing: border-box;
    border-style: dashed;
    margin: auto;
  
}

h1#title {
    text-align: center;
    color: white;
}

h2#welcome_message {
    text-align: center;
    color: white;
}

form#search_form {
    text-align: center;
}

input#address_input {
    width: 50%;
}

div#breweries_details {
    text-align: center;
    color: white;
}

div#breweries_details h3 {
    text-decoration: underline;
}

ul#brewery_list {
    list-style: none;
}

img#beer_image {
    display: block;
    border-radius: 80px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h3#brewery_click_heading {
    text-align: center;
    color: white;
    text-decoration: underline;
}